body {
}
.c1,.c2 {
    height:10em;
}

.c1 {
    background-color:purple;
}

.c2 {
    background-color:blue;
}

.GreyPprMetal
{
    background-image:url("../Images/PaperBG2.png");
    text-align:center;
    padding-top:10em;
    padding-bottom:12em;    
}
.CenteredImage {
    margin-left:auto;
    margin-right:auto;
    display:block;
    padding-bottom:7em;
}

.container {
    max-width:100%;
    padding:0;

}
/*
    <link href="https://fonts.googleapis.com/css?family=Baloo|Courgette|Montserrat:700|Pattaya|Paytone+One|Poppins:700|Russo+One|Noto+Sans" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet"> 
    font-family: 'Baloo', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pattaya', sans-serif;
    font-family: 'Paytone One', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Russo One', sans-serif;
*/

.NotoSans {
    font-family: 'Noto Sans', sans-serif;
}
.Courgette {
    font-family: 'Courgette', cursive;
}
.Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.boxed {
    border-style:solid;
    border-color:blue;
    border-width:2px;
}

@font-face {
	font-family: 'Sans-Copperplate Gothic';
	src: url('../fonts/sans-copperplategothic.ttf') format('truetype'),
     url('../fonts/Sans-Copperplate-Gothic.eot'),
     url('../fonts/Sans-Copperplate-Gothic.eot?#iefix') format('embedded-opentype'); /*IE8 and lower */
	font-weight: normal;
	font-style: normal;
}

body, h1, h2, h3, h4, h5, h6, p, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Sans-Copperplate Gothic', sans-serif;
    color:darkslategrey;
    margin-top:0;
    margin-bottom:0;
}

body {
    padding-top: 1px;
    padding-bottom: 20px;
}
a:hover, a:focus {
}
h2 {
    color:darkslategrey;

}
/* Set padding to keep content from hitting the edges */
.body-content {

    margin-top:50px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.valign {
    text-align:center;
    width:100%;
    margin:auto;
}

.randomtext {
    color:greenyellow;
    display:none;
}
.mainTitle {
    margin:auto;
    width:65%;
}
.DCTechBrandBk {
    height: 300px;
    width: 100%;
    opacity:1;
    position:absolute;
    z-index:-10;
}

.DCTechBrand {
    background-size: 100%;
    background-repeat: no-repeat;
    height:227px;    
    width:299px;
    margin: 50px auto;
    background-clip:border-box;
    float:none;
    text-align:center;
    display:block;
}

.inherhitWidth {
    width:inherit;
}
.DCTechBrand:hover, .DCTechBrand:focus {
    opacity:.4;
}

.noOutline {
    outline:none;
}

/* min width of 570, title gets normal (small below) */
.titleContainer {
    width:65%;
    min-width:240px;
    margin:auto;
}

.mainTitleTop {
    width:100%;
    margin:auto;
}
.mainTitleBot,
.appTitle {
    margin:auto;
    font-variant:small-caps;
    color:white;
    text-align:center;
}

/* Not used 
.titlebr { 
    border-style:solid;
    border-color:black;
    margin-top:0;
    margin-bottom:0;

}
*/

/*
@media only screen and (min-width:320px) {
    .mainTitleBot,
    .appTitle {
    }
}

@media only screen and (min-width:570px) {
    .mainTitleBot,
    .appTitle {
    }
}
*/

@media only screen and (min-width:768px) {
     .mainTitleBot,
    .appTitle {
         width:100%;
    }
}

.GreyPprMetal .subTitle {
    padding-bottom:3em;   
    font-variant:small-caps;
    font-size:large;
    color:white;
}

.mainContactBtn {
    border-style:solid;
    /border-color:black;
    /background-image:url("../Images/metal4.jpg");
    background-position-x:50%;
    background-position-y:50%;
    /font-weight:700;
    color:black;
    background-color:lightgrey;
    font-family:'Sans-Copperplate Gothic', sans-serif;
    padding: 0.2em;
    font-size:1.5em;
    border-radius:1em;
    margin-top:1em;
    margin-left:auto;
    margin-right:auto;
    width:200px;
    display:block;
    text-align:center;
}
@media only screen and (min-width:768px) {
    .mainContactBtn {
        font-size:2em;
        border-radius:1em;
        margin-top:1.5em;
        width:250px;
    }
}

.mainContactBtn:hover, .mainContactBtn:focus{
    text-decoration:none;
    color:black;
    background-color:lightgrey;
    opacity:.6;
}
@media only screen and (min-width:768px) {
    .pgContent, .footer {
        max-width:750px;
    }
}
@media only screen and (min-width:992px) {
    .pgContent, .footer {
        max-width:970px;
    }
}
@media only screen and (min-width:1200px) {
    .pgContent, .footer {
        max-width:1170px;
    }
}
.pgContent, .footer {
    padding-left:7%;
    padding-right:7%;
    margin:auto;
}
/*
.spacing {
    margin-top:2em;
    margin-left:10%;
    margin-right:10%;
}
*/
div.Services {
    background-color:darkred;
    background-color:white;
}
.Services {
/    background-image:url("../Images/MetalBG1.png");
/    background-size:cover;
/    background-position-x:30%;
    padding-bottom:3em;
}

.Services h2 {
    font-family:'Russo One', sans-serif;
    color:darkslategray;
    color:black;
    margin-bottom:1em;
    padding-left:10%
}
.ServiceImg {
    height:7em;
    border-color:black;
    border-color:white;
    border-style:solid;
    border-width:6px;
    border-radius:8px;
    float:left;
    margin-right:2em;
    padding:4px;
    background-color:lightgrey;
}

.Service {
    background-color:darkred;
/    background-color:white;
    height:10em;
    margin-bottom: 1em;
    padding:1.5em 1.5em 1.5em 1.5em;
    border-color:black;
    border-style:solid;
}
.Services h2, .Gallery h2, .ContactDCTech h2 {
    font-family:'Russo One', sans-serif;
    text-align:center;
}

.Services li a, .project p  {
    font-family:'Russo One', sans-serif;
    font-weight:500;
    font-size:1.7em;
    color:black;
    color:white;
}

.ServiceDesc {
    font-size:smaller;
}
.usefulResourcesText {
    font-size:20px;
}
.Services ul {
    list-style-type:none;
}
@media only screen and (min-width:768px) {
    .subTitle {
        padding-bottom:3em;   
        font-variant:small-caps;
        font-size:medium;
    }

    .Services h2, .Gallery h2, .ContactDCTech h2, .project h2 {
        text-align:left;
        font-size:36px;
        padding-top:1em;
    }
    .project h3 {
        font-size:30px;
    }
    .Services li {
        font-size: 20px;
        font-weight:400;
        letter-spacing:1px;
        line-height:150%;
    }

    .Services li, .project p {
    }
    .project a {
        font-size:24px;
    }
    .resources p {
        font-size:20px;
    }
    .ContactDCTech p {
        font-size:24px;
    }
}
@media only screen and (min-width:992px) {
    .Services ul {
        padding-left: 10em;
        padding-right: 10em;
    }
}

.Gallery {
    background-color:#19535F;
    background-color:#E0FBFC;
    background-color:#9DB4C0;
    background-color:#7C7287;
    background-color:#EEE0CB;
}
/*
.Gallery .row > [class*='col-'] {
    display:flex;
    flex-direction:initial;
}
*/

.Gallery h2 {
    padding-left:10%;
    margin-bottom:1em;
    color:black;
}
.GalleryRow {
    margin:auto;
    display:flex;
}

.Gallery .col-sm-4 {
    padding:0;
}

/* Below min witdh of 768, Gallery boxes should be stacked. Above, they should be columns*/
.GalleryBox {
    max-width:75%;
    margin:auto;
    padding-top:.5em;
    padding-bottom:.5em;
    padding-left:-15px;
}

.GalleryLink {
    height:100%;
    width:100%;
    position:absolute;
    background-color:black;
    border-style:solid;
    border-color:#19535F;
    border-color:#E0FBFC;
    border-color:#9DB4C0;
    border-color:#7C7287;
    border-color:#EEE0CB;
    border-width:6px;

}

.GalleryLink:hover {
    opacity:.6;
    border-color:black;
}


.GalleryImage {
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:auto;
}

@media only screen and (min-width:768px) {
    .Gallery {
        padding-bottom:8em;
        padding: 5em 0 12em 0;
    }

    .GalleryRow {
        max-width:750px;
    }

    .GalleryBox {
        height:320px;
        white-space:nowrap;
        padding-top:initial;

    }
    .GalleryHeightBox {
        height: 100%;
        display: inline-block;
        vertical-align: middle;


    }

    .GalleryImage {
        width: 100%;
    }
}

@media only screen and (min-width:992px) {

    .GalleryRow {
        max-width: 970px;
    }
}

@media only screen and (min-width:1170px) {

    .GalleryRow {
        max-width: 1170px;
    }
}

.container .ContactDCTech {
    margin-left:auto;
    margin-right:auto;
    margin-top:10em;
    margin-bottom:10em;
    padding-left:0;
    padding-right:0;
    max-width:75%;
    /background-image:url("../Images/GoldBG1.png");
    /background-size:cover;
    background-position-y:5%;
}

.ContactDCTech {
    padding:1em 4em 4em;
    border-color:white;
    border-width:6px;
    border-style:double;
    background-color:darkred;
}

.ContactDCTech h2, .ContactDCTech p {
    color:white;
}

.ContactDCTech h2 {
    text-align:center;
}

.ContactDCTech p {
    font-family: 'Courgette', cursive;
    font-size:24px;
    padding:2em 4em 2em 4em;
}

.ContactBtn {
    border-style:solid;
    border-color:black;
    /font-weight:700;
    color:black;
    background-color:lightgrey;
    font-family:'Russo One', sans-serif;
    padding: 0.2em;
    font-size:1.5em;
    border-radius:1em;
    margin-top:1em;
    margin-left:auto;
    margin-right:auto;
    width:200px;
    display:block;
    text-align:center;
}
@media only screen and (min-width:768px) {
    .ContactBtn {
        font-size:2em;
        border-radius:1em;
        margin-top:1.5em;
        width:250px;
    }
}

.ContactBtn:hover, .ContactBtn:focus{
    text-decoration:none;
    color:black;
    background-color:lightgrey;
    opacity:.6;
}

.usefulResources {
    /background-color:darkgreen;
    display:none;
}
h4 {
    line-height:110%;
    letter-spacing:1.3px;
}

.projectlink {
    font-family: 'Sans-Copperplate Gothic', sans-serif;
}

@media only screen  and (min-width:768px) {
    .projectlink {
        font-size: 18px;
    }
    .projectlink a {
        font-size: 24px;
    }
}

.leftArrow {
    float:left;
}

.rightArrow {
    float:right;
}
.copy { /* Copyright in footer */
    font-family:sans-serif;
}

/* min width of x, footer should be one line. Below, two lines and both left justified */
.rightFoot {
    float:left;
}
.leftFoot {
    float:left;
}

.leftFoot, .rightFoot {
    color:darkslategrey;
}
@media only screen and (min-width:768px) {
    .rightFoot {
        float: right;
    }
    .leftFoot, .rightFoot {
        font-size:14px;

    }
    
}

@media only screen and (min-width:992px) {
    .leftFoot {
    }
}

/* CAB Page*/
.CABBox {
    height:320px;
    white-space:nowrap;
    padding-top:initial;
}

.CABImage {
    height:90%;
}

.CABLogoContainer {
    width:100%;
    margin:auto;
}
.CABLogo {
    display:block;
    width:50px;
    margin:auto;

}

@media only screen and (min-width:768px) {

    .CABHeightBox {
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .CABAlign {
        vertical-align: middle;
    }
    .CABImage {
    float:left;
}

}

img.EquityQFB  {
    width:180px;
}
img.EquityFBFB {
    width:60px;
}