/* Define colors*/
:root {
    --EquityGrey: #06c;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.bb {
    border-style:solid;
    border-color:red;
}

.centertxtingrid1{

}

.myRow1, .myRow2, .myBorder {
    border-style:solid;
    border-color:blue;
}

.myBorder2 {
    border-style:solid;
    border-color:green;
}

.myCol{
    border-style:solid;
    border-color:red;
}

.myCol1, .myCol4 {
    border-style:solid;
    border-color:red;
    padding:70px 0;
}
.myCol2, .myCol3 {
    padding:70px 1em;
    border-style:solid;
}

.myText {
    border-style:solid;
}
.myText2 {
    border-style:solid;
    border-color:green;
    text-align:center;
}

.myText3 {
}

.displayflex {
    display:flex;
    justify-content:center;
}

.centereddiv {
    width: 75% ;
    text-align:center;
}

.Media1 p {
    border-style: solid;
    border-color: blue;
}

@media only screen and (min-width:768px) {
    .Media1 p {
        border-style: solid;
        border-color: green;
    }
}
@media only screen and (min-width:992px) {
    .Media1 p {
        border-style: solid;
        border-color: red;
    }
}

@media only screen and (min-width:1200px) {
    .Media1 p {
        border-style: solid;
        border-color: black;
    }
}

.Text3 p {
    border-style: solid;
    border-color: orange;
}

.eqHeightCols {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
