@{
    Layout = "~/Views/Tests/_TestsLayout.cshtml";
}

<div>
    @using (Html.BeginForm("IO", "Tests", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <span>Select File:</span>
        <input type="file" name="postedFile" />
        <br />
        <input type="submit" value="Upload" />
        <br />


        <span style="color:green">@ViewBag.Message</span>
    }
    <hr />
    <p>@Html.ActionLink("Download Logo", "IO_Download")</p>
    <p>@Html.ActionLink("Create an Excel File", "CreateExcelFile")</p>
</div>