
@{
    ViewBag.Title = "Media";
    Layout = "~/Views/Tests/_TestsLayout.cshtml";
}

<h2>Media</h2>
<h4 id="WWW"></h4>
<h4 id="HHH"></h4>
<h3>Determine @@media value:lg=black(6), md=red(4), sm=green(3), xs=blue</h3>
<section class="Media1">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4"><p>Item</p></div>
        <div class="col-lg-2 col-md-3 col-sm-4"><p>Item</p></div>
        <div class="col-lg-2 col-md-3 col-sm-4"><p>Item</p></div>
        <div class="col-lg-2 col-md-3 col-sm-4"><p>Item</p></div>
        <div class="col-lg-2 col-md-3 col-sm-4"><p>Item</p></div>
        <div class="col-lg-2 col-md-3 col-sm-4"><p>Item</p></div>
        <div class="col-lg-2 col-md-3 col-sm-4"><p>Item</p></div>
    </div>
</section>
<section class="mediasize">

</section>
