
@{
    ViewBag.Title = "Payments";
    Layout = "~/Views/Tests/_TestsLayout.cshtml";
}

<h2>Payments</h2>
<h3>PayPal</h3>
<div>
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <div style="width:70%;padding:0 10pt 0 0;float:left;">
            <h4>Individual Instruction: $60/hour</h4>
        </div>
        <div>
            <input name="cmd" type="hidden" value="_s-xclick" /><input name="hosted_button_id" type="hidden" value="NXDRC7LHDDCXU" /><input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" type="image" />
        </div>
    </form>
</div>

<div>
    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <div style="width:70%;padding:0 10pt 0 0;float:left;">
            <h4>Group Instruction (3 or more): $30/hour</h4>
        </div>
        <div>
            <input name="cmd" type="hidden" value="_s-xclick" /><input name="hosted_button_id" type="hidden" value="UHPS5XCJ73H9U" /><input alt="PayPal - The safer, easier way to pay online!" name="submit" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" type="image" />
        </div>
    </form>
</div>


<h3>Stripe</h3>


