@{
    ViewBag.Title = "Social";
    Layout = "~/Views/Tests/_TestsLayout.cshtml";
}

<h2>Social</h2> 
<a href="https://www.facebook.com/DarrylChallenger/" target="_blank"><img src="~/Images/FB-f-Logo__blue_29.png" width="29" height="29" /></a>
<a href="https://www.linkedin.com/in/darrylchallenger/" target="_blank"><img src="~/Images/In-2C-28px-R.png" width="37" height="28"  /></a>
<a href="https://twitter.com/DrrylChallenger/" target="_blank"><img src="~/Images/Twitter_Social_Icon_Rounded_Square_Color.png" width="30" height="30" /></a>
<a href="https://www.instagram.com/darrylchallenger/" target="_blank"><img src="~/Images/Instagrarm-glyph-logo_May2016.png" width="30" height="30" /></a>

