
@{
    ViewBag.Title = "Text Tests";
    Layout = "~/Views/Tests/_TestsLayout.cshtml";
}

<h1>Text</h1>

<section class="centertxtingrid1">
    <h2 class="well-lg">Center Text in grid boxes (#1)</h2>
    <div class="row myRow1">
        <!--row>-->
        <div class="col-sm-6 myCol1">
            <p class="myText">Row1Col1 - short text</p>
        </div>
        <div class="col-sm-6 myCol2">
            <p  class="myText">Row1Col2 - short text</p>
        </div>
    </div> <!--row>-->
    <div class="row myRow2">
        <!--row>-->
        <div class="col-sm-6 myCol3">
            <p class="myText2">Row2Col1 - short text</p>
        </div>
        <div class="col-sm-6 myCol4">
            <p class="myText">Row2Col2 - short text</p>
        </div>
    </div> <!--row>-->
</section>
