
@{
    ViewBag.Title = "Charge";
    Layout = "~/Views/Tests/_TestsLayout.cshtml";
}

<h2>Charge</h2>

<p>Request QS [@Request.QueryString]</p>
<p>Request Headers [@Request.Headers]</p>
<p>Response [@Response.Headers.ToString()]</p>

