
@{
    Layout = "~/Views/Tests/_TestsLayout.cshtml";
    ViewBag.Title = "Tests (formerly Private)";
}

<h2>Tests</h2>
<h3>Configuration Data</h3>
<p>WEBSITE_NODE_DEFAULT_VERSION:@ViewBag.wndvw</p>
<p>StripeSecretKey:@ViewBag.StripeSecretKey</p>
<p>StripePublishableKey:@ViewBag.StripePublishableKey</p>
<p>ClientValidationEnabled:@ViewBag.ClientValidationEnabled</p>
