
@{
    ViewBag.Title = "Resources";
}

<h1>Resources</h1>
<h2>Tech</h2>
<p><a href="https://coolors.co/" target="_blank">Pallette Generator</a></p>
<p><a href="http://www.bestcssbuttongenerator.com/" target="_blank"> Button Generator</a></p>
<p><a href="http://www.lipsum.com/" target="_blank">Greeking</a></p>
<h2>Personal</h2>
<p><a href="http://www.consumerreports.org/digital-cameras-photography/how-to-shoot-great-sports-video-of-your-kids/">An ESPN Producer Explains How to Shoot Great Sports Video of Your Kids </a></p>
